@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  color: white;
  font-family: Montserrat ;
}

input{
  background-color: transparent;
  padding: 1rem;
  border: 0.1rem solid #4e0eff;
  border-radius: 0.4rem;
  color: white;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  &:focus{
      border: 0.1rem solid #997af0;
      outline: none;
  }     
} 

option{
  color: rgb(97, 94, 94);
}

button{ 
  background-color: #997af0; 
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.5s ease-in-out; 
  &:hover{
      background-color: #4e0eff;
  }
}

a{
  color: #997af0;
}